.vscode/
.backup/
env/
package_res/
build_resources/
build_envs/
release/
WebUI/external/device-service/
WebUI/external/service/
WebUI/external/workflows_intel/
WebUI/external/workflows_bak/

7zr.exe
*.7z
*.whl
hijacks/
ComfyUI/
env
llama-cpp-env/
*env_tmp/
*service_tmp/
*-env/
build-envs/
portable-git/
llm_cache/*
