basicsr==1.4.2
compel==2.0.3
datasets==2.18.0
diffusers==0.27.2
Flask==3.1.0
apiflask==2.3.2
marshmallow-dataclass==8.7.1
langchain_community==0.3.0
numpy==1.26.4
opencv_python==4.11.0.86
peft==0.10.0
Pillow==11.1.0
psutil==7.0.0
Requests==2.32.4
sentence_transformers==2.3.1
transformers==4.48.0
trl==0.9.3
faiss-cpu==1.8.0
docx2txt==0.8
pypdf==5.3.1
unstructured==0.17.0
setuptools>=76.0.0
huggingface_hub==0.25.2
