@import "tailwindcss";
@config "../../../tailwind.config.cjs";
@import './theme.css';
@import './main.css';
@import './demo-mode.css';
@import './pc.css';
@import './compontents.css';
@import './svg.css';

@layer base {
  :root {
    --background: 280 50% 5%;
    --foreground: 280 5% 90%;
    --card: 280 50% 0%;
    --card-foreground: 280 5% 90%;
    --popover: 280 50% 5%;
    --popover-foreground: 280 5% 90%;
    --primary: 280 98.4% 50.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 280 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 242 30% 15%;
    --muted-foreground: 280 5% 60%;
    --accent: 242 30% 15%;
    --accent-foreground: 280 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 280 5% 90%;
    --border: 280 30% 18%;
    --input: 280 30% 18%;
    --ring: 280 98.4% 50.6%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 280 50% 5%;
    --foreground: 280 5% 90%;
    --card: 280 50% 0%;
    --card-foreground: 280 5% 90%;
    --popover: 280 50% 5%;
    --popover-foreground: 280 5% 90%;
    --primary: 280 98.4% 50.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 280 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 242 30% 15%;
    --muted-foreground: 280 5% 60%;
    --accent: 242 30% 15%;
    --accent-foreground: 280 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 280 5% 90%;
    --border: 280 30% 18%;
    --input: 280 30% 18%;
    --ring: 280 98.4% 50.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  code {
    @apply break-words whitespace-pre-wrap;
  }
}
