* {
  font-family: IntelOne, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

button,
input,
a,
textarea {
  -webkit-app-region: none;
}
#app {
  background: rgba(30, 26, 43, 1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.w-512 {
  width: 512px;
}
.h-512 {
  height: 512px;
}
.max-h-512 {
  max-height: 512px;
}

.max-image-size {
  max-width: 768px;
  max-height: 768px;
}

.main-title {
  height: 58px;
  flex: none;
  -webkit-app-region: drag;
}

.main-tabs {
  height: 50px;
  .tab {
    width: 168px;
    height: 41px;
    line-height: 41px;
    text-align: center;

    &.active {
      color: #fff;
      z-index: 10;
    }
  }
}

.enhance-tabs {
  height: 50px;
  .tab {
    width: 168px;
    height: 36px;
    line-height: 36px;
    text-align: center;

    &.active {
      color: #fff;
      background: url("@/assets/svg/tab-active.svg") 0px 0px no-repeat;
      z-index: 10;
      &:first-of-type {
        background: url("@/assets/svg/tab-active-first.svg") 0px 0px no-repeat;

        > * {
          margin-left: -15px;
        }
      }
    }
  }
}

.break-word {
  word-break: break-word;
}
.main-content {
  border-color: #3a3a40;
  margin-top: -1px;
  background-color: var(--color-panel-focus);
  display: flex;
  overflow-y: auto;
  height: 0px;
  > * {
    width: 100%;
  }
}

.info-params {
  width: 768px;
  overflow-y: auto;
  border-radius: 12px;
  box-shadow: #dcdcdc 0px 0px 2px 0px;
  background: rgb(30 41 59);
  .params-list {
    max-height: 480px;
    overflow-y: auto;
  }
}
.enhance-content {
  display: flex;
  align-items: center;
  gap: 49px;
  margin-top: -1px;

  > *:nth-child(1) {
    position: relative;
    height: 100%;
    &::after {
      position: absolute;
      right: -25px;
      top: 0px;
      height: 100%;
      content: "";
      border-right: 1px solid var(--color-spilter);
    }
  }
}

.tools-panel {
  width: 351px;
  height: 100%;
}

.gernate-btn {
  border-radius: 10px;
  border: 1px solid var(---4, #808080);
  background: var(---5, #525252);
  color: var(--color-text-main);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  &:disabled {
    opacity: 0.6;
  }
}

.rag-btn {
  width: 91px;
  height: 82px;
}

.image-preview-panel {
  width: 129px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 14px;
  background-color: var(--color-image-bg);
  border: 1px solid rgba(255, 255, 255, 0.2);

  .image-preview-item {
    border-radius: 4px;
    width: 100%;
    height: 84px;
    background: #1c1a23;
    position: relative;
    padding: 1px;
    &.active {
      background: var(--main-gradient);
    }
  }
  .image-preview-item-bg {
    background-color: #1c1a23;
    border-radius: 4px;
    width: 100%;
    height: calc(100% - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-thumb {
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
  }

  .preview-tip {
    position: absolute;
    user-select: none;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.72);
    padding: 4px 6px;
  }
}

.outpaint-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 108px;

  .outpaint-control-bg {
    width: 142px;
    height: 92px;
    background: url("@/assets/svg/outpaint-bg.svg") 0px 0px no-repeat;
    position: relative;
  }

  .outpaint-drieciton {
    width: 28px;
    height: 28px;
    position: absolute;
    background: #484848;
    border-radius: 4px;

    &.active {
      background: var(--main-gradient);
    }

    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      left: calc(50% - 9px);
      top: calc(50% - 9px);
      background-color: #ffffff;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      -webkit-mask-image: url("@/assets/svg/outpaint-dir.svg");
      mask-image: url("@/assets/svg/outpaint-dir.svg");
    }
    &.top {
      left: calc(50% - 14px);
      top: -14px;
    }

    &.right {
      top: calc(50% - 14px);
      right: -14px;
      transform: rotate(90deg);
    }

    &.bottom {
      left: calc(50% - 14px);
      bottom: -14px;
      transform: rotate(180deg);
    }

    &.left {
      top: calc(50% - 14px);
      left: -14px;
      transform: rotate(270deg);
    }
  }
}

.cursor-block::after {
  content: "_";
  animation: cursorBlink 0.5s ease-in-out infinite alternate;
}

@keyframes cursorBlink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rag-panel {
  width: 400px;
  height: 503px;
  border-radius: 6px;
  border: 1px solid var(--color-spilter);
  background-color: var(--color-panel-focus);
  overflow: hidden;
  position: absolute;
  right: 16px;
  top: -511px;
  z-index: 30;

  .s32 {
    width: 20px;
    height: 20px;
  }

  .line2 {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.modify-mask {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  opacity: 0.6;

  &.pen {
    cursor: url("@/assets/svg/pen.svg") 4 16, auto;
  }

  &.easer {
    cursor: url("@/assets/svg/easer.svg") 4 16, auto;
  }
}

.settings-panel {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 420px;
  height: 100%;
  overflow: hidden;
  z-index: 99;

  .panel-tab {
    width: 110px;
    height: 30px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 30px;

    &.active {
      background-color: #26272c;
      font-weight: bold;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
      position: relative;

      &::after {
        content: " ";
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -15px;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.confirm-btn {
  border-radius: 4px;
  padding: 4px 20px;
  color: #fff;
  background: linear-gradient(160deg, #04ddfe 5.8%, #fa00ff 100%);
}

.cancel-btn {
  border-radius: 4px;
  padding: 4px 20px;
  color: #fff;
  background: #6949ae;
}

.view-btn {
  width: 109px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 4px;
  background: linear-gradient(160deg, #04ddfe 12.92%, #fa00ff 113.72%);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}

img {
  -webkit-user-drag: none;
}
#learn-more {
  > * {
    width: 820px;
  }
  a {
    color: #309cff;
  }
  .ai-games {
    > *:nth-child(2n) {
      justify-self: flex-end;
    }
    > * {
      > * {
        height: 400px;
        width: 296px;
      }
    }
  }
}

footer {
  height: 100px;
  font-size: 14px;
  color: #666;
}

#chatPanel .chat-content{
  word-break: break-word;
  word-spacing: 2px;
  overflow-wrap: anywhere;
}