:root {
  --color-bg-main: rgba(24, 21, 36, 1);
  --color-spilter: #525252;
  --color-panel-focus: #05010fb4;
  --color-gray-666: #666666;
  --color-uploader-bg: #201c31;
  --color-text-main: #ffffff;
  --color-gray-244: #e0e0e0;
  --color-image-tool-button: #585561;
  --color-active: #aa05ff;
  --color-control-bg: #38383D;
  --main-gradient: linear-gradient(75deg, #2da9ff, #aa05ff);
  --textbox-bg: #38383d;
  --compontents-main: #fff;
  --color-image-bg: #110f1779;
  --textbox-gradient-border: linear-gradient(
      var(--textbox-bg),
      var(--textbox-bg)
    ),
    var(--main-gradient);
  --textbox-clip: padding-box, border-box;
}

@font-face {
  font-family: IntelOne;
  src: url("@/assets/fonts/intelone-display-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: IntelOne;
  src: url("@/assets/fonts/intelone-display-medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: IntelOne;
  src: url("@/assets/fonts/intelone-display-bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: IntelOne;
  src: url("@/assets/fonts/intelone-display-light.woff2") format("woff2");
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  cursor: default;
  &:hover {
    background: rgba(113, 109, 134, 0.3);
  }
}

::-webkit-scrollbar-thumb {
  background: rgba(113, 109, 134, 1);;
  border-radius: 8px;
  cursor: default;
}

*:disabled {
  filter: grayscale(1);
  opacity: 0.6;
  &:hover {
    opacity: 0.6;
  }
}

button:hover {
  opacity: 0.9;
}
input[type="text"],
textarea {
  background-color: var(--textbox-bg);
  border: 1px solid var(--color-gray-666);
  border-radius: 4px;
  outline: none;
  position: relative;
  padding: 2px 8px;
  color: var(--color-text-main);

  &:focus {
    border: 1px solid #aa05ff;
  }
}

textarea {
  padding: 12px 16px;

  &::-webkit-scrollbar {
    width: 4px;
    height: 100%;
    cursor: default;
    &:hover {
      background: rgba(113, 109, 134, 0.5);
    }
  }

  &::-webkit-scrollbar-thumb {
    background: #716d86;
    border-radius: 4px;
    cursor: default;
  }
}

.animate-ronate360 {
  animation: ronate360 0.4s ease-in-out;
}

@keyframes ronate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-scale-in {
  animation: scaleIn 0.4s ease-in-out;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5)
  }
  to {
    transform: scale(1);
  }
}
